.container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
}
.box{
    display: flex;
    font-size: 90px;
    justify-content: center;
    align-items: center;
}
#a01, #a11, #a21{
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#a10, #a11, #a12{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}